body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.view-current-time {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 30px solid black;
  padding-bottom: 20px;
}

#clearDay {
  background: #bf8784;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 8px;
  border-radius: 12px
}

.saveBtn .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}


.saveBtn:hover .tooltiptext {
  visibility: visible;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {

  white-space: pre-wrap;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}